.menu {
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    height: 64px;
    background-color: #111;
    .gamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1px;
    }
    .gamburger-menu:hover {
        cursor: pointer;
    }
    .menu-line {
        height: 3px;
        width: 28px;
        position: relative;
        background-color: #fff;
        transition: 0.5s;
    }
    .first-line {
        margin-bottom: 5px;
    }
    .first-line-active {
        height: 0px;
        width: 0px;
    }
    .second-line-active {
        transform: rotate(45deg);
    }
    .third-line {
        bottom: 3px;
        margin-bottom: 2px;
    }
    .third-line-active {
        transform: rotate(-45deg);
    }
    .fourth-line-active {
        height: 0px;
        width: 0px;
    }
}

header, header.logo, .order-button-wrapper, .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    justify-content: space-between;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    transition: height 0.5s;
    .logo {
        width: 300px;
    }
    .logo-image {
        img {
            width: 180px;
            height: 34px;
        }
        text-align: center;
    }
    .logo-text {
        color: #2e2e2e;
        font: normal 400 12px Source Sans Pro,sans-serif;
        margin-top: 4px;
        text-align: center;
    }
    .nav-list {
        list-style: none;
        padding: 0;

        a {
            text-decoration: none;
            font: 600 16px 'Roboto', Arial, sans-serif;
            color: #3f3f3f;
            margin: 0 30px;
        }
        a:hover {
            color: #db072f;
        }
    }
    .order-button-wrapper {
        padding: 0 60px 0 0;
    }
    .order-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 226px;
        height: 40px;
        color: #fff;
        font: 14px 'Roboto', Arial, sans-serif;
        background-color: #db072f;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
    }
    .order-button:hover {
        background-color: #b50021;
    }
}
.header-active {
    display: flex;
    height: 400px;
    transition: height 0.5s;
}

// media queries
@media screen and (max-width: 1200px) {
    header {
        height: 80px;
        .logo {
            width: 220px;
        }
        .order-button-wrapper {
            padding: 0 20px 0 0;
        }
        .nav-list {
            a {
                margin: 0 10px;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .menu {
        display: flex;
        box-shadow: 0px 0px 10px 5px #111;
    }
    header {
        height: 0px;
        flex-direction: column;
        overflow: hidden;
        transition: height 0.5s;
        .logo {
            margin: 40px 20px;
        }
        .nav-list {
            margin: 20px 0;
            flex-direction: column;
            li {
                margin: 10px 0;
            }
        }
        .order-button-wrapper {
            margin: 35px 0;
        }
    }
}